@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

.App {
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  width: 1440px;
  height: 1024px;

  /* Gray 6 */

  background: #f5f5f7;
}

body {
  background: #e0e0e0;
}
